.route-content {
	background-color: whitesmoke;
	min-height: 430px;
	min-height: calc(100vh - 80px - 158px);
	margin-right: -24px;
	padding-right: calc(1rem + 24px) !important;
}

ng-scrollbar {
	max-height: calc(100vh - 80px);
}
