<ng-template #citacoes let-data="adtData">
	<div>
		<a href="">{{ data.qtdPatentes }} {{ data.qtdPatentes === 1 ? "patente" : "patentes" }}</a> e
		<a href="">{{ data.qtdProgramas }} {{ data.qtdProgramas === 1 ? "programa" : "programas" }}</a>
	</div>
</ng-template>

<ng-template #statusColumn let-data="adtData">
	@if (data.status === PatentStatus.EM_ANDAMENTO) {
		<span class="text-primary fw-medium">EM ANDAMENTO</span>
	} @else if (data.status === PatentStatus.CONCEDIDO) {
		<span class="text-success fw-medium">CONCEDIDO</span>
	} @else if (data.status === PatentStatus.ARQUIVADO) {
		<span class="text-danger fw-medium">ARQUIVADO</span>
	}
</ng-template>

<ng-template #detailsBtn let-data="adtData">
	<div class="d-flex justify-content-center">
		<button class="btn btn-primary d-flex p-1" title="Detalhes da solicitação">
			<mat-icon fontIcon="read_more"></mat-icon>
		</button>
	</div>
</ng-template>

<div class="container">
	<app-panel class="d-block mb-3" header="Estatísticas">
	</app-panel>

	<app-panel class="d-block mb-3" header="Principais Titulares">
		<table
			#holdersTable
			datatable
			[dtOptions]="dtOptionsHolders!"
			[dtTrigger]="dtTriggerHolders"
			class="w-100 row-border table table-bordered"
		></table>
	</app-panel>

	<app-panel class="d-block mb-3" header="Principais Criadores e Inventores">
		<table
			#inventorsTable
			datatable
			[dtOptions]="dtOptionsInventors!"
			[dtTrigger]="dtTriggerInventors"
			class="w-100 row-border table table-bordered"
		></table>
	</app-panel>

	<app-panel class="d-block mb-3" header="Solicitações Mais Recentes">
		<table
			#requestsTable
			datatable
			[dtOptions]="dtOptionsRequests!"
			[dtTrigger]="dtTriggerRequests"
			class="w-100 row-border table table-bordered"
		></table>
	</app-panel>
</div>
